<div class="row">
    <div class="card-header">
        <h3>Última venta de productos</h3>
    </div>
</div>
<div class="row">
        <div class="">
            <table class="table table-responsive table-striped table-hover">
                <thead>
                    <tr>
                        <td>Producto</td>
                        <td>Costo</td>
                        <td>Existencia</td>
                        <td>Ultima Venta</td>
                    </tr>
                </thead>
                <tbody id="tblProductosAlerta">

                </tbody>
            </table>
        </div>

</div>