<div id="panel-3" class="panel col-12">
    <div class="panel-hdr">
      <h2>
        Parámetros
      </h2>
        <div class="panel-toolbar">
            <button class="btn btn-panel" data-action="panel-collapse" data-toggle="tooltip" data-offset="0,10" data-original-title="Collapse"></button>
            <button class="btn btn-panel" data-action="panel-fullscreen" data-toggle="tooltip" data-offset="0,10" data-original-title="Fullscreen"></button>
            <!--<button class="btn btn-panel" data-action="panel-close" data-toggle="tooltip" data-offset="0,10" data-original-title="Close"></button>-->
        </div>
    </div>
    <div class="panel-container show">
        <div class="panel-content">
            <div class="form-group">
                <div class="row">
                    <div class="col-sm-8 col-md-4 col-lg-4 col-xl-4">
                        <label>Seleccione un Vendedor</label>
                        <select class="form-control" id="cmbVendedores"></select>
                    </div>
        
                    <div class="col-sm-4 col-md-2 col-lg-2 col-xl-2">
                        <label>Fecha:</label>
                        <input type="date" class="form-control" id="txtFecha">
                    </div>
                    
                  
                    <div class="col-sm-6 col-md-2 col-lg-2 col-xl-2">
                        <label class="text-white">.</label>
                        <button class="btn btn-success form-control" id="btnCargar">Cargar</button>
                    </div>
                </div>        
            </div>            
        </div>
    </div>
</div>

<div id="panel-1" class="panel col-12">
    <div class="panel-hdr">
      <h2>
        Ventas del día 
      </h2>
      <b><label id="lbTotal" class="text-danger">--</label></b>
        <div class="panel-toolbar">
            <button class="btn btn-panel" data-action="panel-collapse" data-toggle="tooltip" data-offset="0,10" data-original-title="Collapse"></button>
            <button class="btn btn-panel" data-action="panel-fullscreen" data-toggle="tooltip" data-offset="0,10" data-original-title="Fullscreen"></button>
            <!--<button class="btn btn-panel" data-action="panel-close" data-toggle="tooltip" data-offset="0,10" data-original-title="Close"></button>-->
        </div>
    </div>
    <div class="panel-container show">
        <div class="panel-content">
            <div class="table-responsive">
                
                <table class="table table-striped table-hover">
                    <thead>
                        <tr>
                            <td>Documento</td>
                            <td>Cliente</td>
                            <td>Importe</td>
                        </tr>
                    </thead>
                    <tbody id="tblVentaFecha">

                    </tbody>
                </table>

            </div>
        </div>
    </div>
</div>

<div id="panel-2" class="panel col-12">
    <div class="panel-hdr">
      <h2>
        Recorrido
      </h2>
        <div class="panel-toolbar">
            <button class="btn btn-panel" data-action="panel-collapse" data-toggle="tooltip" data-offset="0,10" data-original-title="Collapse"></button>
            <button class="btn btn-panel" data-action="panel-fullscreen" data-toggle="tooltip" data-offset="0,10" data-original-title="Fullscreen"></button>
            <!--<button class="btn btn-panel" data-action="panel-close" data-toggle="tooltip" data-offset="0,10" data-original-title="Close"></button>-->
        </div>
    </div>
    <div class="panel-container show">
        <div class="panel-content">
            <div class="card-body" id="mapcontainer">

            </div>
        </div>
    </div>
</div>

<style>
#mapcontainer {
    width: 100%;
    height: 580px;
    box-shadow: 5px 5px 5px #888;
}
</style>